.button {
    color: var(--secondary-text-color);
    background-color: #F5F4FA;
    font-family: 'Roboto', sans-serif;

}

.hero .button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 24px;
    min-width: 200px;
    border: 0;

    @media screen and (min-width:1200px) {
        padding: 10px 32px;
        min-width: 216px;
        }

    color: var(--title-text-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            background-color: #188CE8;
        }

}
.buttons__secondary {

    display: block;
    margin-right: 8px;

    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;

    color: #212121;
    background-color: #F5F4FA;
    border: solid transparent;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            color: var(--title-text-color);
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.buttons {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons__element {
    display: flex;
}
.button-sign {
    display: flex;
    flex-wrap: wrap;
    
    border-radius: 4px;
    padding: 10px 28px;
    min-width: 200px;
    height: 50px;
    border: none;

    color: var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            background-color: #188CE8;
        }
    @media screen and (min-width:768px) and (max-width:1199px) {
                    display: flex;
                }
        
}

.modal__btn-close {
    position: absolute;
    display: flex;
    right: 8px;
    top: 8px;
    padding: 0;

    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;

    border-radius: 50%;

    background: var(--title-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

}