:root {
    --primery-text-color: #757575;
    --secondary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primery-bg-color: #FFFFFF;
    --grad: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}