.section.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0;
    background-color: #C4C4C4;
    text-align: center;

    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_img_mob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_img_mobx2.jpg");
        }

    @media screen and (min-width:480px) {
            max-width: 480px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_img_tab.jpg");
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_img_tabx2.jpg");
            }
        }
    @media screen and (min-width:768px) {
        max-width: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/photo5.jpg");
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img_desktopx2.jpg");
            }
        }
    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        
        }


}

.hero__title {
    width: 360px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: var(--title-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width:1200px) {
            width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;

}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(0.9);
}

.modal {
    position: absolute;
    width: 100%;
    max-width: 450px;
    min-height: 609px;

    @media screen and (min-width:1200px) {
            max-width: 528px;
            // min-height: 581px;
        }

    background-color: var(--primery-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;

}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin: 0;
    margin-bottom: 12px;

    color: var(--secondary-text-color);
}

.modal__form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;


}

.modal__field {

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;

}

.modal__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primery-text-color);
    display: flex;

}

.modal__input {
    margin: 0;
    padding: 0;
    padding-left: 35px;
    width: 100%;
    height: 40px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
        &:focus,
        &:hover {
            border: 1px solid rgba(33, 150, 243, 1);
        }
}

.modal__icon {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: var(--secondary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .modal__input:focus + &,
        .modal__input:hover + & {
            fill: var(--accent-color);
        }
}
.modal__checkbox {
        position: relative;
        overflow: hidden;
    }


.modal__checkbox-input {
    position: absolute;

    white-space: nowrap;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
    width: 1px;
    height: 1px;
    
    appearance: none;
}

.modal__checkbox-label {
    display: flex;
    // align-items: center;
    // justify-content: center;
    -webkit-box-align: center;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);

    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.71;
        }
    @media screen and (min-width:320px) and (max-width:1199px) {
    
            font-size: 12px;
            line-height: 1;
    }
    
}
.button.send {
    margin-top: 30px;
}
.modal__checkbox-label>span {
    display: flex;
    align-items: center;
    justify-content: center;
    
    fill: transparent;
    width: 16px;
    height: 15px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    margin-right: 7px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .modal__checkbox-input:checked + & {
            background-color: var(--accent-color);
            border: none;
            fill: var(--title-text-color);
        }
        .modal__checkbox-input:hover + &,
        .modal__checkbox-input:focus + & {
            border: 2px solid var(--accent-color);
        }
}
.modal__checkbox-text {
    
    
}
.modal__checkbox-icon {
    // position: absolute;
    display: flex;
    justify-content: flex-start;
    background-position: center;
}

.modal__checkbox-label-dec {
    text-decoration-line: underline;
    color: var(--accent-color);
    
    cursor: pointer;
}

.modal__textarea {
    font-size: 12px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    width: 100%;
    &:hover,
        &:focus {
            border: 1px solid rgba(33, 150, 243, 1);
        }
}

.modal__icon-close {
    fill: var(--secondary-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            fill: var(--accent-color);
        }
}

